
/* variables */
$themeColor: #377092;
$hoverColor: #2f7dad;

.navBar {
	position: relative;

	button {
		border: none;
		color: #fff;
		overflow: hidden;
		@include mediaSize(padding, 0 1.6rem, 0 1.2rem, 0 0.6rem);
		height: 4rem;
		border-radius: 5px;
		cursor: pointer;
		background-color: $themeColor;
		transition: background-color 0.8s;

		&:hover {
			background-color: $hoverColor;
		}
	}

	ul {
		position: absolute;
		right: 0;
		top: 0;
		li {
			display: inline-block;
		}
	}
	
	span {
		@include mediaSize(font-size, 2rem, 1.8rem, 1.6rem);
	}
}

.maxim {
	width: 80%;
	padding: 30px 0 66px;
	margin: 0 auto;
	color: #fff;
	
	h2 {
		font-weight: 500;
		padding-bottom: 1.5rem;
		@include mediaSize(font-size, 2.6rem, 2.4rem, 2.2rem);
	}

	h4 {
		font-weight: 400;
		padding-top: 1.5rem;
		@include mediaSize(font-size, 1.8rem, 1.6rem, 1.4rem);
	}
}